name: Dependabot Auto-merge

on:
  pull_request:

permissions:
  contents: read

jobs:
  auto-merge:
    uses: cuioss/cuioss-organization/.github/workflows/reusable-dependabot-auto-merge.yml@f124d251b4ef1c80424dc231afbd4d884d9c90fa # v0.6.1
    permissions:
      contents: write
      pull-requests: write
