name: End-to-End Tests

on:
  push:
    branches: [main, "feature/*", "fix/*", "chore/*", "release/*", "dependabot/**"]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  e2e-tests:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    uses: cuioss/cuioss-organization/.github/workflows/reusable-maven-integration-tests.yml@4d934640e9ec4e574ee29fe1fc269e542c8d79c5 # v0.3.9
    with:
      report-name: e-2-e-playwright
      maven-args-input: verify -Pintegration-tests -pl e-2-e-playwright -am
      install-playwright: true
      npm-cache: true
      timeout-minutes: 20
      reports-folder: |
        e-2-e-playwright/target/results-selftests
        e-2-e-playwright/target/results-functional-tests
        e-2-e-playwright/target/results-accessibility-tests
      report-logs: |
        e-2-e-playwright/target/keycloak-container.log
        e-2-e-playwright/target/nifi-container.log
    secrets:
      RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
      RELEASE_APP_PRIVATE_KEY: ${{ secrets.RELEASE_APP_PRIVATE_KEY }}
